@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Apply the font to specific elements */
/* body {
  /* font-family: 'ABeeZee', sans-serif; *
} */

html{
    scroll-behavior: smooth;
}

body{
    height: auto;
    width: 100vw;
    /* background-color: rgb(195, 157, 108); */
    background-color: white;
    overflow-x: hidden;
    /* color: white; */
    color: brown;
}

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
    background-color: white;
    top: 0;
    display: flex;
    box-shadow: 10px 0 12px -7px rgba(0, 0, 0, 0.9);
    justify-content: space-between;
    color: white;
    z-index: 1000; /* Important */
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
}

.logo{
    position: relative;
    left: 0;
    height: 100%;
    width: 35%;
}
.logo img{
    width: 80%; 
    height: 300%; 
    position: relative;  
    top: -60px;
}

.links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end; 
    float: right;
    /* width: 65%;  */
    font-size: 1.7rem;
}

.links li {
    text-decoration: none;
    margin-right: 50px; 
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.fas{
    color: white;
}

.links div {
    display: inline-block;
    border-radius: 8px;
    padding: 5px 10px; 
    margin-right: 50px;
    background-color: brown;

}

.offer {
    width: 100vw;
    height: auto;
    display: block;
    position: relative;
    margin-top:  5%;
}

.offer h1{
    color: brown;
    font-size: 3rem;
    margin-left: 10%;
    position: relative;
    white-space: normal;
    margin-right: 5%;
    /* background-color: black; */
}
.explore-btn{
    position: relative;
    width: 100%;
    /* background-color: red; */
    margin-top: 3%;
}
.explore-btn a{
    text-decoration: none;
}
.offer button {
    padding: 10px 10px;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: 20%;
    background-color: brown;
}
.offer button:hover{
    cursor: pointer;
    background-color: burlywood;
    border: 1px solid white;
}

/* Explore button that takes you to the first section */
#blue{
    position: relative;
    width: 100%;
    margin-top: 7%;
    text-decoration: underline;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}


.sticky {
    margin-left: 25%;
    position: sticky;
    font-size: 1.5rem;
    bottom: 50px;
    /* background-color: burlywood; */
    background-color: brown;
    color: whitesmoke;
    border-radius: 8px;
    padding: 5px 1px;
    z-index: 100;
    width: 50%;
    text-align: center;
}

/* Tote Bag Section */

.tote-bags{
    width: 100vw;
    height: auto;
    display: flex;
    position: relative;
    box-sizing: border-box; 
    margin-top: 10%;
    /* background-color: red; */
}

.tote-bags > div{
    display: flex;
    position: relative;
    height: 100%;
    
}

.tote-bags .image{
    flex: 1.5;
    /* border: 1px solid black; */
    background-color: antiquewhite;
    height: 100%;
    font-size: 5rem;
    order: 1;
}

.tote-bags .text{
    flex: 1;
    display: block;  
    order: 2;  
}

.tote-bags .text h1{
    position: relative;
    font-size:3rem;
    text-align: center;
}
.tote-bags  .text p{
    position: relative;
    display: block;
    color: brown;
    font-size: 2rem;
    margin-left: 1%;
    white-space: normal;
    line-height: 3.5rem;
    margin-top: 4%;
    font-weight: 500; 
}

.tote-btn-ctn{
    position: relative;
    display: flex;
    margin-top: 4%;
    width: 100%;
}
.tote-btn{
    /* position: relative; */
    /* width: 200px;
    height: 50px; */
    padding: 10px 10px;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    background-color: brown;
    margin-left: auto;
    margin-right: 10%;
}

/* Tie and Dye Section */

.tie-dye{
    width: 100vw;
    height: auto;
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-top: 9%;
}
.tie-dye div{
    display: flex;
    position: relative;
    height: 100%;
}

.tie-dye .text{
    flex: 1;
    display: block;
}
.tie-dye .image{
    flex: 1.5;
    /* border: 1px solid black; */
    background-color: antiquewhite;
    height: 100%;
    font-size: 5rem;
    text-align: center;
}
.tie-dye h1{
    font-size:3rem;
    margin-left: 5%;
    display: block;
    
}
.tie-dye p{
    margin-left: 5%;
    font-size: 2rem;
    display: block;
    position: relative;
    margin-top: 4%;
    line-height: 3.5rem;
    font-weight: 500;
    white-space: normal;
    white-space: normal;
}
.tie-dye-btn{
    padding: 10px 10px;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    position: relative;
    background-color: brown;
    margin-left: 10%;
    margin-top: 4%;   
}

/* Changing Text */

.tie-dye span{
    font-weight: 900;
    color: brown;
    /* transform: scaleX(2.5); */
} 
#typewriter-text {
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
}
  
#changing-word {
    display: inline;
    color: brown; /* Customize the color of the changing word */
}
  
#blinking-cursor {
    display: inline;
    animation: blink 0.8s infinite;
    color: brown; /* Customize the color of the blinking cursor */
}

/* Contact Page */

.contact-page{
    width: 100%;
    background-color: brown;
    color: white;
    height: auto;
    position: relative;
    margin-top: 10%;
    z-index: 1000;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contact-page > h1{
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 5%;
    text-decoration: underline;
    font-size: 2rem;
    font-weight: 900;
    
}
.contact-page a{
    text-decoration: none;
}

.we-offer{
    margin-top: 5%;
    margin-bottom: 2%;
    width: 30%;
    height: auto;
    
}
.we-offer h1{
    font-size: 2rem;
    font-weight: 900;
}
.we-offer-list {
    list-style: none;
    font-size: 1.5rem;
    line-height: 2.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    position: relative;
}

.connect{
    width: 30%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-right: 2%;

}
.connect h1{
    font-size: 2rem;
    font-weight: 900;
    display: block;
}
.social-icons{
    display: flex;
    font-size: 2rem;
    color: white;
    position: relative;
    margin-top: 5%;
}
.fab{
    color: brown; 
}
.social-icons > div{
    margin-right: 5%;
    padding: 5px 10px;
    background-color: white;
    border-radius: 10px;
}
.connect h2{
    font-size: 2rem;
    font-weight: 900;
    margin-top: 4%;
}
.connect p{
    margin-top: 1%;
    font-size: 20px;
    line-height: 1.8rem;
}

/* Nav-Bar Responsiveness  */
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: brown;
}

@media screen and (max-width: 780px) {
    body{
        overflow-x: hidden;
    }
    nav{
        
        height: 9vh;
    }
    .logo{
        width: 60%;
    }
    .logo img{
        width: 100%;
        /* background-color: red; */
        object-fit: cover;
        height: 100%;
        top: 0;
        left: -20px;
    }
    
    /* -------------------- */
    
    .hamburger {
        display: block;
        margin-right: 15%;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .links{
        /* display: none; */
        position: absolute;
        left: -100%;
        top: 10vh;
        /* flex-direction: column; */
        width: 100%;
        height: 50vh;
        text-align: center;
        transition: 0.3s;
        background-color: brown;
        display: block;
        
    }
    .links.active{
        left: 0;
    }
    .links div{
        display: block;
        margin-top: 11%;
        text-align: center;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }
    
    .offer h1{
        font-size: 1.5rem;
        margin-left: 5%;
        text-align: center;
    }
    .offer button{
        font-size: 16px;
        margin-right: 15%;
        display: none;
    }
    #blue{
        margin-top: 25%;
        font-size: 1.2rem;
        /* text-align: center; */
        
    }
    .sticky{
        /* display: none; */
        width: 100vw;
        margin: 0;
        font-size: 16px;
    }
    .sticky  span{
        display: block;
    }
    .tote-bags{
        flex: 1;
        display: block;
        margin-top: 15%;
    }
    .tote-bags .image{
        /* display: none; */
        width: 100%;
        min-height: 200px;
        top: 10px;
        
    }
    .tote-bags .text h1{
        font-size: 2rem;
        text-align: center;
    }
    .tote-bags .text p{
        font-size: 1rem;
        line-height: 20px;
        margin-left: 0;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .tote-btn{
        font-size: 1rem;
        margin-top: 6%;
    }

    .tie-dye{
        flex: 1;
        display: block;
        margin-top: 20%;

    }
    .tie-dye .image{
        /* display: none; */
        width: 100%;
        min-height: 200px;
        top: 10px;
    }
    .tie-dye .text h1{
        font-size: 2rem;
        white-space: normal;
        text-align: center;
    }
    .tie-dye .text p{
        font-size: 1rem;
        line-height: 20px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0;
        text-align: center;
    }
    .block-elem{
        display: block;
    } 
    
    .tie-dye-btn{
        font-size: 1rem;
        margin-top: 8%;

    }
    .contact-page{
        display: block;
    }
    .contact-page > h1{
        font-size: 1rem;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    .we-offer{
        margin-left: 10%;
    }
    .we-offer h1{
        font-size: 1rem;
    }
    .we-offer-list {
        font-size: 14px;
        line-height: 1.5rem;
    }
    .connect{
        margin-left: 10%;
        margin-top: 10%;
        width: 100vw;
        padding-bottom: 20px;
    }
    .connect h1{
        font-size: 1rem;
    }
    .social-icons{
        font-size: 1rem;
    }
    
    .connect h2{
        font-size: 1rem;
    }
    .connect p{
        margin-top: 1%;
        font-size: 14px;
        line-height: 1.2rem;
    }

}