@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Apply the font to specific elements */
/* body {
  /* font-family: 'ABeeZee', sans-serif; *
} */

html{
    scroll-behavior: smooth;
}

body{
    height: auto;
    width: 100vw;
    /* background-color: rgb(195, 157, 108); */
    background-color: white;
    overflow-x: hidden;
    /* color: white; */
    color: brown;
}

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
    /* background-color: rgb(195, 157, 108); */
    background-color: white;
    top: 0;
    /* border-bottom: 2px solid black; */
    display: flex;
    box-shadow: 10px 0 12px -7px rgba(0, 0, 0, 0.9);
    z-index: 1000;
    color: white;
}

nav a{
    text-decoration: none;
    color: white;
}

.logo{
    position: relative;
    left: 0;
    height: 100%;
    width: 35%;
    /* border-right: 1px solid black; */
}

.links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end; /* Change from 'space-between' to 'flex-end' */
    float: right;
    width: 65%; /* Reduce the width to make space for the links */
    font-size: 1.7rem;
}

.links li {
    text-decoration: none;
    margin-right: 50px; /* Add margin to create space between links */
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.fas{
    color: white;
    /* color: brown; */
    /* background-color: white; */
}

.links div {
    display: inline-block;
    /* border: 2px solid black; */
    border-radius: 8px;
    padding: 5px 10px; /* Optional: Add some padding inside the box */
    margin-right: 50px;
    /* background-color: burlywood; */
    background-color: brown;

}

.offer {
    width: 100vw;
    height: auto;
    display: block;
    position: relative;
    margin-top:  5%;
}

.offer h1{
    color: brown;
    font-size: 3rem;
    margin-left: 10%;
    position: relative;
    white-space: normal;
    margin-right: 5%;
    /* background-color: black; */
}
.explore-btn{
    position: relative;
    width: 100%;
    /* background-color: red; */
    margin-top: 3%;
}
.explore-btn a{
    text-decoration: none;
}
.offer button {
    padding: 10px 10px;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: 20%;
    background-color: brown;
}
.offer button:hover{
    cursor: pointer;
    background-color: burlywood;
    border: 1px solid white;
}

/* Explore button that takes you to the first section */
#blue{
    position: relative;
    width: 100%;
    margin-top: 7%;
    text-decoration: underline;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sticky {
    margin-left: 25%;
    position: fixed;
    font-size: 1.5rem;
    bottom: 50px;
    /* background-color: burlywood; */
    background-color: brown;
    color: whitesmoke;
    border-radius: 8px;
    padding: 5px 1px;
    z-index: 100;
    width: 50%;
    text-align: center;
}

/* Tote Bag Section */

.tote-bags{
    width: 100vw;
    height: auto;
    display: flex;
    position: relative;
    box-sizing: border-box; 
    margin-top: 10%;
    /* background-color: red; */
}

.tote-bags > div{
    display: flex;
    position: relative;
    height: 100%;
    
}

.tote-bags .image{
    flex: 1.5;
    border: 1px solid black;
    height: 100%;
    font-size: 5rem;
}

.tote-bags .text{
    flex: 1;
    display: block;    
}

.tote-bags .text h1{
    position: relative;
    font-size:3rem;
    text-align: center;
}
.tote-bags  .text p{
    position: relative;
    display: block;
    color: brown;
    font-size: 2rem;
    margin-left: 1%;
    white-space: normal;
    line-height: 3.5rem;
    margin-top: 4%;
    font-weight: 500; 
}

.tote-btn-ctn{
    position: relative;
    display: flex;
    margin-top: 4%;
    width: 100%;
}
.tote-btn{
    /* position: relative; */
    /* width: 200px;
    height: 50px; */
    padding: 10px 10px;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    background-color: brown;
    margin-left: auto;
    margin-right: 10%;
}

/* Tie and Dye Section */

.tie-dye{
    width: 100vw;
    height: auto;
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-top: 9%;
}
.tie-dye div{
    display: flex;
    position: relative;
    height: 100%;
}

.tie-dye .text{
    flex: 1;
    display: block;
}
.tie-dye .image{
    flex: 1.5;
    background-color: gray ;
    border: 1px solid black;
    height: 100%;
    font-size: 5rem;
    text-align: center;
}
.tie-dye h1{
    font-size:3rem;
    margin-left: 5%;
    display: block;
    
}
.tie-dye p{
    margin-left: 5%;
    font-size: 2rem;
    display: block;
    position: relative;
    margin-top: 4%;
    line-height: 3.5rem;
    font-weight: 500;
    white-space: normal;
    white-space: normal;
}
.tie-dye-btn{
    padding: 10px 10px;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    position: relative;
    background-color: brown;
    margin-left: 10%;
    margin-top: 4%;   
}

/* Changing Text */

.tie-dye span{
    font-weight: 900;
    color: brown;
    /* transform: scaleX(2.5); */
} 
#typewriter-text {
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
}
  
#changing-word {
    display: inline;
    color: brown; /* Customize the color of the changing word */
}
  
#blinking-cursor {
    display: inline;
    animation: blink 0.8s infinite;
    color: brown; /* Customize the color of the blinking cursor */
}

/* Contact Page */

.contact-page{
    width: 100%;
    background-color: brown;
    color: white;
    height: auto;
    position: relative;
    margin-top: 10%;
    z-index: 1000;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contact-page > h1{
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 5%;
    text-decoration: underline;
    font-size: 2rem;
    font-weight: 900;
    
}
.contact-page a{
    text-decoration: none;
}

.we-offer{
    margin-top: 5%;
    margin-bottom: 2%;
    width: 30%;
    height: auto;
    
}
.we-offer h1{
    font-size: 2rem;
    font-weight: 900;
}
.we-offer-list {
    list-style: none;
    font-size: 1.5rem;
    line-height: 2.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    position: relative;
}

.connect{
    width: 30%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-right: 2%;

}
.connect h1{
    font-size: 2rem;
    font-weight: 900;
    display: block;
}
.social-icons{
    display: flex;
    font-size: 2rem;
    color: white;
    position: relative;
    margin-top: 5%;
}
.fab{
    color: brown; 
}
.social-icons > div{
    margin-right: 5%;
    padding: 5px 10px;
    background-color: white;
    border-radius: 10px;
}
.connect h2{
    font-size: 2rem;
    font-weight: 900;
    margin-top: 4%;
}
.connect p{
    margin-top: 1%;
    font-size: 20px;
    line-height: 1.8rem;
}

@media screen and (max-width: 780px) {
    body{
        overflow-x: hidden;
    }
    nav{
        display: none;
    }
    .offer h1{
        font-size: 1.5rem;
        margin-left: 5%;
    }
    .offer button{
        font-size: 16px;
        margin-right: 15%;
    }
    #blue{
        font-size: 1.2rem;
    }
    .sticky{
        display: none;
    }
    .tote-bags{
        flex: 1;
    }
    .tote-bags .image{
        display: none;
    }
    .tote-bags .text h1{
        font-size: 2rem;
    }
    .tote-bags .text p{
        font-size: 1rem;
        line-height: 20px;
        margin-left: 2%;
    }
    .tote-btn{
        font-size: 1rem;
    }

    .tie-dye{
        flex: 1;
    }
    .tie-dye .image{
        display: none;
    }
    .tie-dye .text h1{
        font-size: 2rem;
        white-space: normal;
    }
    .tie-dye .text p{
        font-size: 1rem;
        line-height: 20px;
        margin-left: 2%;
    }
    .tie-dye-btn{
        font-size: 1rem;
    }
    .contact-page{
        display: block;
    }
    .contact-page > h1{
        font-size: 1rem;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    .we-offer{
        margin-left: 5%;
    }
    .we-offer h1{
        font-size: 1rem;
    }
    .we-offer-list {
        font-size: 14px;
        line-height: 1.5rem;
    }
    .connect{
        margin-left: 5%;
    }
    .connect h1{
        font-size: 1rem;
    }
    .social-icons{
        font-size: 1rem;
    }
    
    .connect h2{
        font-size: 1rem;
    }
    .connect p{
        margin-top: 1%;
        font-size: 14px;
        line-height: 1.2rem;
    }
}
