* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    display: flex;
    height: 100vh;
    width: 100vw;
}
  
.logo {
    width: 60vw;
    
    background-color: brown;
    background-image: url(pexels-alexander-grey-4048389.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: burlywood;
}
.logo div{
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
    background-image: url(IMG-20230720-WA0008.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sign-in {
    width: 40vw;
    min-height: 100vh; /* Adjust the minimum height as needed */
    overflow-y:hidden;
    /* background-color: red; */
    color: brown;
    overflow-x: hidden;
}

.sign-in p{
    text-decoration: underline;
    display: flex;
    justify-content: center;
    position: relative;
    top: 28px;
    font-size: 2rem;
    color: brown(172, 142, 103);
}

.sign-in div input{
    width: 90%;
    height: 2.5rem;
    display: block;
    position: relative;
    left: 5%;
    top: 65px;
    border: 2px solid brown;
    border-radius: 10px;
    font-size: 1.2rem;
    /* padding-left: 1%;  needed if text is aligned to the left */
    text-align: center;
}

    
#lname{
    top:95px;
}
#password{
    top: 125px;
}
.fa-eye, .fa-eye-slash{
    position: absolute;
    top: 254px;
    right: 90px;
    color: grey;
    cursor: pointer;
}

.google{
    border: 2px solid burlywood;
    height: 3rem;
    text-align: center;
    color: blue;
    width: 90%;
    position: relative;
    left: 5%;
    border-radius: 10px;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.google:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    border: 2px solid gray;
}

.google span{
    font-size: 1.5rem;
}
.mr-2{
    font-size: 1.4rem;
    margin-right: 10px;
    height: 1.5rem;
    width: 1.5rem;
    
}
.password-des{
    position: relative;
    top: 140px;
    left: 5%;
    font-size: 22px;
    color: brown;
    white-space: normal;
    margin-right: 5%;
}

#terms, .sign-in form > span{
    position: relative;
    top: 230px;
    left: 5%;
    font-size: 18.5px;
    color: brown;
}

.sign-in hr{
    position: relative;
    top: 166px;
    width: 40%;
    left: 5%;
}
.or{
    position: relative;
    top: 152px;
    left: 7%;
    font-size: 1.5rem;
    font-weight: 600;
}

.button, .signup-link{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 150px;
    height: 3rem;
    border-radius: 10px;
    border: 2px solid gray;
    background-color: brown;

    color: white;
    /* top: 20px; */
    font-size: 1.3rem;
    left: 5%;
    top: 270px;
    font-weight: 700;
}
.button a{
    text-decoration: none;
    color: white;
}

.button:hover{
    background-color: burlywood;
    cursor: pointer;
}

/* -----break----- */
.signup-link {
    width: 200px;
    text-align: center;
    text-decoration: none;
}

.signup-link:hover {
    background-color: burlywood;
    cursor: pointer;
}

/* -----break----- */



.sign-in .login{
    position: relative;
    left: 5%;
    top: 285px;
    justify-content: left;
    font-size: 18.5px;
    color: brown;
    text-decoration: none;
}
.login a{
    margin-left: 10px;
}

@media screen and (max-width: 780px) {
    .logo{
        display: none;
    }
    input{
        height: 1.5rem;
    }
    .sign-in{
        width: 100vw;
    }
    .password-des{
        /* display: flex; */
        font-size: 16px;
        white-space: normal;
    }
    #terms, .sign-in form > span{
        font-size: 16px;
        margin-right: 5%;
        
    }
    .sign-in form > span{
        left: 2%;
    }
}
