*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/83decb21-258d-425d-a8ac-4c98c4512f05-shutterstock-1128225152\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    display: block; 
}
.logo{
    position: relative;
    width: 30%;
    /* min-width: 26%; */
    height: auto;
    /* background-color: red; */
}

.body1{
    width: 100%;
    height: auto;
    position: relative;
    /* background-color: red; */
}
h1{
    color: white;
    text-shadow: -1px -1px brown, 1px -1px 0 brown, -1px 1px 0 brown, 1px 1px 0 brown;
    font-size: 4rem;
    /* position: absolute; */
    position: relative;
    margin-left: 15%;
    display: block;
}

.signup{
    /* position: absolute; */
    position: relative;
    /* bottom: 0; */
    margin-top: 1%;
    margin-left: 15%;  
    width: 210px;
    height: 50px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid whitesmoke;
    background-color: brown;
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}
.button a{
    font: 1em sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.button:hover{
    cursor: pointer;
    color: white;
    background-color: rgba(222, 184, 135);
    border: 2px solid gray;
    font-weight: 800;
}


.body2{
    width: 100%;
    height: auto;
    /* background-color: red; */
    position: relative;
    top: 5%;
    
}
h2{
    color: white;
    text-shadow: -1px -1px brown, 1px -1px 0 brown, -1px 1px 0 brown, 1px 1px 0 brown;
    font-size: 3rem;
    /* position: absolute; */
    text-align: end;
    display: block;
    margin-right: 10%;
    
}

.login{
    position: relative;
    margin-top: 1%;
    margin-left: auto;
    width: 160px;
    height: 45px;
    font-size: 25px;
    margin-right: 10%;
    
}

/* Responsiveness */

@media screen and (max-width: 780px) {
    body{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-image: url(../img/83decb21-258d-425d-a8ac-4c98c4512f05-shutterstock-1128225152\ \(1\).jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;   
    }
    .logo{
        width: 100%;

    }
    
    h1{
        text-shadow: -0.5px -0.5px brown, 0.5px -0.5px 0 brown, -0.5px 1px 0 brown, 1px 1px 0 brown;
        /* text-shadow: none; */
        font-size: 2rem;
        /* top: 15%; */
        /* color: brown; */
        margin-left: 5%;
    }
    h2 {
        font-size: 1.8rem;
        text-align: right;
        margin-right: 5%;
        /* color: brown; */
        text-shadow: -0.5px -0.5px brown, 0.5px -0.5px 0 brown, -0.5px 1px 0 brown, 1px 1px 0 brown;
    }

    .signup{
        width: 120px;
        margin-left: 5%;
        margin-top: 5%;
    }
    .signup a{
        font-size: 20px;
        font-weight: 500;
    }
    .login {
        width: 100px;
        margin-top: 4%;
        margin-right: 5%;
    }
    .login a{
        font-size: 20px;
        font-weight: 500;
    }
  }